@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root{
  --dark-grey:#333;
  --white:#fff;
  --text-primary: #28a745;
  --text-secondary:#0284d0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: var(--white);
  color:var(--dark-grey);
  line-height: 1.6;
}

ul{
  list-style: none;
}

a{
  color: var(--dark-grey);
  text-decoration: none;
  font-size: larger;
}

h1, h2{
font-weight: 300;
line-height: 1.2;
}

p{
  margin: 1vw 0;
}

img{
  width: 100%;
}
/* Important CSS Tricks(1) */
/* Settings to allow for flexbox to be responsive and ul,li elements to fill whitespace */
nav, nav ul, nav li{
  height: 100%;
}
/* Important CSS Tricks(1) */


/* Navbar Styling */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-grey);
  color: var(--white);
  opacity: 0.8;
  width: 100%;
  height: 10vh;
  /* Important CSS Tricks(2) */
  /* Creates a fixed Navbar while scrolling for easy navigation */
  position: fixed;
  top: 0;
    /* Important CSS Tricks(2) */
  padding: 0 2vw;
}

.navbar a{
  /* Important CSS Tricks(1) */
  /* when all ul and li content fits space flexbox allows content to align center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* Important CSS Tricks(1) */
  color: var(--white);
  padding: .5vw 1vw;
  margin: 0 auto;
}
.navbar a:hover{
  box-shadow: 1px 1px 4px black;
  background-color: var(--text-primary);
  text-shadow: 1px 1px 4px black;
}

.navbar ul{
  display: flex;
  justify-content: space-evenly;
}
/* Navbar Styling */

/* Header/Hero Styling */
.hero{
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: var(--white);
}
.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.hero .content h1{
  font-size: 55px;
}
.hero .content p{
  font-size: 23px;
  max-width: 600px;
  
}
/* Header/Hero Styling */

@media only screen and (max-width:600px){
  /* Navbar Styling */
  .navbar{
    flex-direction: column;
  }
  /* Navbar Styling */
}
@media only screen and (max-width:400px){
  /* Navbar Styling */
  .navbar{
    height: 15vh;
  }
  /* Navbar Styling */
}