/* Text Styles */
:root{
 --text-primary: #28a745;
 --text-secondary:#0284d0;
 --dark-grey:#333;
 --white:#fff;
 --light:#f4f4f4;
}

.text-primary{
  color: var(--text-primary);
}

.text-secondary{
  color: var(--text-secondary);
}

/* Button */
.btn{
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  box-shadow: 2px 2px 6px black;
  text-shadow: 1px 1px 4px black;
  opacity: 0.9;
}

.btn-primary{
  background: var(--text-primary);
  color: var(--white);
}
.btn-secondary{
  background: var(--text-secondary);
  color: var(--white);
}
.btn-dark{
 background: var(--dark-grey);
 color: var(--white);
}
.btn-light{
  background: var(--light);
  color: var(--dark-grey);
}