/* Text Styles */
:root{
 --text-primary: #28a745;
 --text-secondary:#0284d0;
 --dark-grey:#333;
 --white:#fff;
}

.text-primary{
  color: var(--text-primary);
}

.text-secondary{
  color: var(--text-secondary);
}